<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name ="MyDB" connectionString="Server=whyfi8888.ddns.net,11433;uid=team4;pwd=1234;database=TEAM4;"/>
        <add name="Axxen.Properties.Settings.tempstr" connectionString="Provider=SQLNCLI11;Data Source=192.168.0.5;Password=1234;User ID=sa;Initial Catalog=ShoppingDB"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>