<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogCreateMillisecond" value="1000"/>
    <add key="WriteFolder" value="C:\Users\GD6\AxxenMachines"/>
  </appSettings>
  <connectionStrings>
    <add name="mydbconn" connectionString="Server=whyfi8888.ddns.net,11433;Initial Catalog=TEAM4;User ID=team4;Password=1234" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>