<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OrgFolder" value="C:\AxxenMachineLog"/>
    <add key="DoneFolder" value="C:\AxxenMachineLog\DoneFolder"/>
    <add key="ServiceIntervalMilliSecond" value="3000"/>
  </appSettings>
  <connectionStrings>
    <add name="mydbconn" connectionString="Server=tcp:guditest96.database.windows.net,1433;Initial Catalog=TEAM4;Persist Security Info=False;User ID=gudisa;Password=gudi1234!!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>