<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OrgFolder" value="\AxxenMachines"/>
    <add key="DoneFolder" value="\AxxenMachines\DoneFolder"/>
    <add key="ServiceIntervalMilliSecond" value="3000"/>
  </appSettings>
  <connectionStrings>
    <add name="mydbconn" connectionString="Server=whyfi8888.ddns.net,11433;uid=team4;pwd=1234;database=TEAM4;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>