
@model IEnumerable<string>

<ul class="treeview-menu">

    @foreach (var link in Model)
    {
        <li>
            @Html.RouteLink(link, new
       {
           controller = "Chart",
           action = "Index",
           name = link
           //Page = 1

       }
        )
        </li>
    }
</ul>



